table, th, td {
    /*margin-top: 15px;*/
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    margin: 40px 0 auto;
    font-size: 18px;
    text-decoration: none;
    font-weight: normal;
    padding: 10px 0;
}

table {
    width: 100%;
}

th {
    border-top: 1px solid black;
    text-transform: uppercase;
    text-align: center;
}

td {
    padding-right: 15px;
    padding-left: 15px;
    text-transform: lowercase;
    overflow-x: hidden;
}

.topicTitle {
    width: 40%;
}


tr:hover {
    background-color: mediumaquamarine;
}