#profileContainer {
    /*background-color: aqua;*/
}

#profileHeaderContainer {
    padding: 0;
    width: 39%;
    text-align: center;

    float: left;
    /*border-right: 2px solid white;*/

    /*background-color: aqua;*/
}

#profileUsername {
    font-size: 50px;
    padding: 0;
    margin: 0;
}

#profileAboutEditBar {

}

.profileSectionTitle {
    font-size: 30px;
    /*margin-left: 5%;*/
    /*padding: 10px 0 10px 0;*/
    margin: 10px auto;
    float: left;
}

#profileAboutContainer {
    /*background-color: purple;*/
    /*padding: 15px 15px;*/
    /*width: 90%;*/
    /*min-width: 300px;*/
    /*margin: auto;*/
    /*border-radius: 10px;*/
    /*margin-bottom: 15px;*/

    float: right;
    margin: 10px 2%;
    padding: 0;
    width: 56%;
    text-align: justify;
}

#divider {
    width: 1%;
    height: 100px;
    background-color: white;
    float: right;
}

#edit {
    float: right;
}

img {
    width: 50%;

    padding: 0;
    /*border-radius: 800px;*/
    /*-webkit-border-radius: 100px;*/
    /*-moz-border-radius: 100px;*/
    border: 3px solid white;
    margin: 10px auto;
}

.profileStatsBox {
    width: 90%;
    background-color: purple;
    padding: 5% 0;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid white;
    /*float: left;*/
}

#profileAboutSummary {
    float: left;
}