table.post {
    border-right: 1px solid black;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-collapse: collapse;
    margin: 40px 0 auto;
    font-size: 18px;
    text-decoration: none;
    font-weight: normal;
    padding: 10px 0;
    width: 100%;
}

.post tr {
    border-bottom: 3px solid black;
}

td.user {
    width: 100px;
}

.userInfo {
    text-align: center;
    background-color: #979797;
    padding: 0;
}

img.userImage {
    width:100px;
    height:100px;
    padding: 0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}

td.message {
    padding-left: 10px;
    margin: 0;
    text-align: left;
    background-color: #185a57;
}

td.postNum {
    width: 50px;
    font-size: 15px;
    border-left: 1px solid black;
    text-align: center;
}